<style>
    table{
        width:100%;
        border-collapse:collapse;
    }
    th,td{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    thead{
        background: #f2f2f2;
    }
    tbody tr:nth-child(odd){
        background: #f9f9f9;
    }
       
</style>

<div class="container">
    <h1>Confirmation de reception de la commande n:{{order.id}}</h1>
    <hr></hr>
    <span>Date{{order.createdAt|date}}</span>
    <br><br><br> 
    <p>
        We have receive your order, thank your conctat me.<br>
        You will call you very soon for more information about your and your validation
    </p>
    <hr>
    
    
        <h1>Confiration de reception de la commande</h1>
     <br><br>


    <h5>Detail de la commande</h5><br><br>
    <table class="table table-bordered">
                <h2>Commande n:{{order.id}}</h2>
                {% if order.isCompleted==true %}
                    <h4 class="text-danger">Commande livrée : {{order.createdAt|date}} </h4>
                {% else %}
                    <h4 cass="text-success">Commande non livrée : {{order.createdAt|date}} </h4>
                {% endif %}
                <span>Information du client</span>
        <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>telephone</th>
            <th>adresse</th>
            <th>ville</th>
        </tr>
        <tr>
            <th>{{order.firstName}}</td>
            <th>{{order.lastName}}</td>
            <th>{{order.phone}}</td>
            <th>{{ order.adresse }}</td>
            <td>{{order.city.name}} </td>
        </tr>
    </table> <br><br>
    <table class="table table-bordered">
        {#<h5>Information du client</h5>#}
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Prix unitaire</th>
                <th>Qantité</th>
                <th>Prix Total</th>
                {# <th>ville</th>#}
            </tr>
        </thead>
         {% for product in order.orderProducts %}
            <tr>
                <th>{{product.product.name}}</td>
                <th>{{product.product.price}} Eur</td>
                <th>{{product.qte}}</td>
                <th>{{ product.product.price * product.qte }} Eur</td>
                {#<td>{{order.city.name}} </td>#}
            </tr>
        {% endfor %} 
        
    </table><br> 
    <h5>Frais de livraison : {{ order.city.shippingCost }} Eur </h5>
        <hr>
    <h2> Total à payer : {{ order.totalPrice}} Eur <h2>
    <br><br>
</div>
    